header{
    display: flex;
    align-items: center;
    height:50px;
    background-color: darkgrey;
}
.logo_img{
    margin: 5px 5px 5px 20px;
    height: 40px;
    width: 30px;
    vertical-align: center;
}
.company_name{
    color: white;
}
.contact{
    justify-content: right;
    margin-right: 20px;
    margin-left: 20px;
}
.attendance{
    justify-content: right;
    margin-left: auto;
}
.person_img{
    margin-top:50px;
    margin-left:50px;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 60%;
    width: 40%;
    float: left;
}
.Quotes{
    margin-top:50px;
    margin-left:50px;
    margin-right: 50px;
    margin-bottom: 50px;
    justify-content: end;
    
}
body{
    background-color: lightblue;
}