header{
    display: flex;
    align-items: center;
    height:50px;
    background-color: darkgrey;
}
.logo_img{
    margin: 5px 5px 5px 20px;
    height: 40px;
    width: 30px;
    vertical-align: center;
}
.company_name{
    color: white;
}
.contact{
    justify-content: right;
    margin-right: 20px;
    margin-left: 20px;
}
.attendance{
    justify-content: right;
    margin-left: auto;
}
