header{
    display: flex;
    align-items: center;
    height:50px;
    background-color: darkgrey;
}
.header:hover{
    background-color: red;
}
.logo_img{
    margin: 5px 5px 5px 20px;
    height: 40px;
    width: 30px;
    vertical-align: center;
}
.company_name{
    color: white;
}
.contact{
    justify-content: right;
    margin-right: 20px;
    margin-left: 20px;
}
.attendance{
    justify-content: right;
    margin-left: auto;
}
.sidebar{
    justify-content: right;
    align-items: center;
    background-color: lightblue;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 20px;
    font-size: large;
}
.sidebar:hover{
    background-color: aqua;
}
.sidebar a{
    margin-left: 20px;
    padding-top: 40px;
}
.sidebar a{
    margin-left: 20px;
    padding-top: 40px;
}
.sidebar a:hover {
  color: hotpink;
}
.sidebar a:active {
  color: blue;
}
.main{
    margin-left: 200px;
}
.body{
    background-color: lightblue;
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
}
table{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
}
td{
    text-align: center;
}
