<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="attendance.css">
    <title>Attendance</title>
</head>
<body>
    <header>
        <a href="homepage.html"><img src="../images/image_logo.jpeg" alt="logo"></a>
        <a href="attendance.html">Attendance</a>
        <a href="contact.html">Contact Us</a>
        <a href="Login.html">Log in</a>
    </header> 
    <div class="sidebar">
        <br>
        <a href="software.html">Software Developer</a><br><br>
        <a href="full stack.html">Full stack Developer</a><br><br>
        <a href="https://www.google.com">Digital marketing</a>
    </div>
    <div class="main">
        <div class="row">
            <div class="card">
                <img src="image_software.jpeg" style="height:200px; width:320px">
                <div class="conatiner">
                    <h3>Software Development</h3>
                    <p>Software developers use programming and design knowledge to build software that meets the needs of users.Software developers use programming and design knowledge to build software that meets the needs of users.Software developers use programming and design knowledge to build software that meets the needs of users.</p>
                </div>
            </div>
            <div class="card">
                <img src="image_fullstack.png" style="height:200px; width:320px">
                <div class="conatiner">
                    <h3>Full stack Development</h3>
                    <p>Full-stack development involves creating both the frontend and backend of a web application or website.Full-stack development involves creating both the frontend and backend of a web application or website.Full-stack development involves creating both the frontend and backend of a web application or website.</p>
                </div>
            </div>
            <div class="card">
                <img src="image_digital.jpeg" style="height:200px; width:320px">
                <div class="conatiner">
                    <h3>Digital Marketing</h3>
                    <p>Digital marketing, known as online or internet marketing, is the promotion of products  through digital channels.Digital marketing, known as online or internet marketing, is the promotion of products  through digital channels.Digital marketing, known as online or internet marketing, is the promotion of products  through digital channels.</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>