<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page</title>
    <link rel="stylesheet" href="homepage.css">
</head> 
<body>
    <header>
        <a href="homepage.html"><img src="../images/image_logo.jpeg" alt="logo"></a>
        <a href="contact.html">Contact Us</a>
        <a href="Login.html">Log in</a>
    </header>
    <div class="container_1">
        <div class="container1_header">COMPANY CONSULTING SERVICES</div>
        <p>Our objective is to deliver reliable, scalable, and innovative IT solutions that empower businesses to grow and adapt in a digital-first world. We strive to understand our clients' unique challenges and provide tailored services in software development, cloud solutions, IT consulting, and digital transformation — ensuring efficiency, security, and long-term success.</p>
    </div>
    <div class="container_2">
        <div class="container2_head"><b>Our Values</b></div>
        <div class="container_grid">
            <img src="../images/image_values1.png">
            <img src="../images/image_values2.jpeg">
            <img src="../images/image_values3.png">
        </div>
    </div>
</body>
</html>