<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="all_class.css">
    <title>Attendance</title>
</head>
<body>
    <header>
        <img src="image_logo.jpeg" alt="logo" class="logo_img">
        <div class="company_name">COMPANY</div>
        <div class="attendance"><a href="attendance.html">Attendance</a></div>
        <div class="contact"><a href="contact.html">Contact Us</a></div>
    </header>
    <div class="sidebar">
        <br>
        <a href="software.html">Software Developer</a><br><br>
        <a href="full stack.html">Full stack Developer</a><br><br>
        <a href="https://www.google.com">Digital marketing</a>
    </div>
    <div class="main">
        <h3 style="margin-left: 50px;"><u>Software Development</u></h3>
        <table>
        <tr>
            <th>S.No</th>
            <th>Student Name</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Arun</td>
            <td>
                <input type="radio">
                <label for="html">Present</label>
                <input type="radio">
                <label for="css">Absent</label>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Akash</td>
            <td>
                <input type="radio">
                <label for="html">Present</label>
                <input type="radio">
                <label for="css">Absent</label>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Kamal</td>
            <td>
                <input type="radio">
                <label for="html">Present</label>
                <input type="radio">
                <label for="css">Absent</label>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Vijay</td>
            <td>
                <input type="radio">
                <label for="html">Present</label>
                <input type="radio">
                <label for="css">Absent</label>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Surya</td>
            <td>
                <input type="radio">
                <label for="html">Present</label>
                <input type="radio">
                <label for="css">Absent</label>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>Ajith</td>
            <td>
                <input type="radio">
                <label for="html">Present</label>
                <input type="radio">
                <label for="css">Absent</label>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td>Rajini</td>
            <td>
                <input type="radio">
                <label for="html">Present</label>
                <input type="radio">
                <label for="css">Absent</label>
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td>Siva karthikeyan</td>
            <td>
                <input type="radio">
                <label for="html">Present</label>
                <input type="radio">
                <label for="css">Absent</label>
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td>Dhanush</td>
            <td>
                <input type="radio">
                <label for="html">Present</label>
                <input type="radio">
                <label for="css">Absent</label>
            </td>
        </tr>
        <tr>
            <td>10</td>
            <td>Arya</td>
            <td>
                <input type="radio">
                <label for="html">Present</label>
                <input type="radio">
                <label for="css">Absent</label>
            </td>
        </tr>
        <tr>
            <td>11</td>
            <td>Vishal</td>
            <td>
                <input type="radio">
                <label for="html">Present</label>
                <input type="radio">
                <label for="css">Absent</label>
            </td>
        </tr>
    </table>
    </div>
    
</body>
</html>